certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
heroku==0.1.4
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-dateutil==1.5
requests==2.19.1
SQLAlchemy==1.2.11
urllib3==1.23
Werkzeug==0.14.1
flask_session==0.3.1
psycopg2==2.7.5
